
html, body
{
    height: 100%;
    background-color: #ddd;
    margin: 0;
    padding: 0; 
}

#main_panel
{
    display: flex;
    flex-direction: row-reverse; 
    height: 100%;
}

#canvas_panel
{
    display:block;
    flex: 100%;
}

#side_panel
{
    flex: 0 0 auto;
    min-width: 200px;
    width: 33%;
    max-width: calc(100vw - 200px);
    background-color:#ccc;
    resize: horizontal;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

#control_panel
{
    display: flex;
    margin: 10px 0;
}

#single_grid
{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

#multiplication_grid
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.matrix_editor
{
    display: grid;
    gap: 3px;
}

.row_major
{
    grid-auto-flow: row;
}

.column_major
{
    grid-auto-flow: column;
}

.field_editor
{
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: consolas;
    width: 100%;
    aspect-ratio: 1;
}

.field_editor:disabled
{
    background-color: #eeeeee;
}

.field_editor_x
{
    color: red;
}

.field_editor_y
{
    color: green;
}

.field_editor_z
{
    color: blue;
}

.field_editor_w
{
    color: magenta;
}

canvas
{ 
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0px; 
}

#w_slider, #animator_button
{
    width: 100%;
}