
html, body
{
    height: 100%;
    background-color: #ddd;
    margin: 0;
    padding: 0; 
}

#main_panel
{
    display: flex; 
    height: 100%;
}

#canvas_panel
{
    display:block;
    flex:100%;
}

#side_panel
{
    background-color:#ccc;
}

#side_panel_content
{
    width: 300px;
}

.matrix_editor
{
    display: flex;
    justify-content: space-between;
    width: 160px;
    height: 100px;
}

.row_major
{
    flex-flow: row wrap;
}

.column_major
{
    flex-flow: column wrap;
}

.field_editor_x
{
    color: red;
    width: 30px;
}

.field_editor_y
{
    color: green;
    width: 30px;
}

.field_editor_z
{
    color: blue;
    width: 30px;
}

.field_editor_w
{
    color: purple;
    width: 30px;
}

canvas
{ 
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0px; 
}