
html {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #f6f4f0;
    color: brown;
}

body {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    padding: 0;
}

.left, .right {
    display: flex;
    flex: 1 1 0;
    height: 100%;
    flex-direction: column;
}

.right {
    align-items: end;
}

.margin {
    flex: 0 0 auto;
    height: 100%;
    width: 10px;
}

.middle {
    height: 100%;
    aspect-ratio: 4 / 3;
    display: flex;
    flex: 0 0 auto;
}

.wall {
    background-color: #ccc;
    flex: auto;
}

.slide {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.diagram {
    border: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.navigation_button_block {
    margin: 0 10px;
}

.slider {
    writing-mode: vertical-lr;
    height: 100%;
}

.space {
    flex: auto;
}

p {
    padding: 0;
    margin: 0;
}